/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-builder-content *,
.fl-builder-content *:before,
.fl-builder-content *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fl-row:before,
.fl-row:after,
.fl-row-content:before,
.fl-row-content:after,
.fl-col-group:before,
.fl-col-group:after,
.fl-col:before,
.fl-col:after,
.fl-module:before,
.fl-module:after,
.fl-module-content:before,
.fl-module-content:after {
    display: table;
    content: " ";
}

.fl-row:after,
.fl-row-content:after,
.fl-col-group:after,
.fl-col:after,
.fl-module:after,
.fl-module-content:after {
    clear: both;
}

.fl-row,
.fl-row-content,
.fl-col-group,
.fl-col,
.fl-module,
.fl-module-content {
    zoom: 1;
}

.fl-clear {
    clear: both;
}

.fl-clearfix:before,
.fl-clearfix:after {
    display: table;
    content: " ";
}

.fl-clearfix:after {
    clear: both;
}

.fl-clearfix {
    zoom: 1;
}

.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
    display: none;
}

.fl-row,
.fl-row-content {
    margin-left: auto;
    margin-right: auto;
}

.fl-row-content-wrap {
    position: relative;
}

.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
    background-attachment: scroll;
}

.fl-row-bg-video,
.fl-row-bg-video .fl-row-content {
    position: relative;
}

.fl-row-bg-video .fl-bg-video {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.fl-row-bg-video .fl-bg-video video {
    bottom: 0;
    left: 0px;
    max-width: none;
    position: absolute;
    right: 0;
    top: 0px;
}

.fl-row-bg-video .fl-bg-video iframe {
    pointer-events: none;
    width: 100vw;
    height: 56.25vw;
    max-width: none;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.fl-bg-video-fallback {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.fl-row-bg-slideshow,
.fl-row-bg-slideshow .fl-row-content {
    position: relative;
}

.fl-row .fl-bg-slideshow {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.fl-builder-edit .fl-row .fl-bg-slideshow * {
    bottom: 0;
    height: auto !important;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
}

.fl-row-bg-overlay .fl-row-content-wrap:after {
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.fl-row-bg-overlay .fl-row-content {
    position: relative;
    z-index: 1;
}

.fl-row-full-height .fl-row-content-wrap,
.fl-row-overlap-top .fl-row-content-wrap {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
}

.fl-builder-edit .fl-row-full-height .fl-row-content-wrap {
    min-height: calc( 100vh - 48px);
}

.fl-row-full-height .fl-row-content,
.fl-row-custom-height .fl-row-content {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.fl-row-full-height .fl-row-full-width.fl-row-content,
.fl-row-custom-height .fl-row-full-width.fl-row-content {
    max-width: 100%;
    width: 100%;
}

.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile),
.fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height .fl-row-content {
    flex: 0 0 auto;
    flex-basis: 100%;
    margin: 0;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content {
    margin: 0 auto;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height),
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.fl-row-full-height.fl-row-align-center .fl-row-content-wrap,
.fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,
.fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
    align-items: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    -ms-flex-align: end;
    -ms-flex-pack: end;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap,
.fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .fl-row-full-height .fl-row-content-wrap {
        min-height: 1024px;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .fl-row-full-height .fl-row-content-wrap {
        min-height: 768px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    .fl-row-full-height .fl-row-content-wrap {
        min-height: 500px;
    }
}

.fl-col-group-equal-height,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.fl-col-group-equal-height {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.fl-col-group-equal-height.fl-col-group-has-child-loading {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.fl-col-group-equal-height .fl-col-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
    width: 100%;
}

.fl-col-group-equal-height:before,
.fl-col-group-equal-height .fl-col:before,
.fl-col-group-equal-height .fl-col-content:before,
.fl-col-group-equal-height:after,
.fl-col-group-equal-height .fl-col:after,
.fl-col-group-equal-height .fl-col-content:after {
    content: none;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
    width: 100%;
}

.fl-builder-ie-11 .fl-col-group-equal-height,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
    min-height: 1px;
}

.fl-col {
    float: left;
    min-height: 1px;
}

.fl-col-bg-overlay .fl-col-content {
    position: relative;
}

.fl-col-bg-overlay .fl-col-content:after {
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.fl-col-bg-overlay .fl-module {
    position: relative;
    z-index: 2;
}

.fl-module img {
    max-width: 100%;
}

.fl-builder-module-template {
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px;
}

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
}

.fl-builder-content .fl-button:hover {
    text-decoration: none;
}

.fl-builder-content .fl-button:active {
    position: relative;
    top: 1px;
}

.fl-builder-content .fl-button-width-full .fl-button {
    display: block;
    text-align: center;
}

.fl-builder-content .fl-button-width-custom .fl-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.fl-builder-content .fl-button-left {
    text-align: left;
}

.fl-builder-content .fl-button-center {
    text-align: center;
}

.fl-builder-content .fl-button-right {
    text-align: right;
}

.fl-builder-content .fl-button i {
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}

.fl-builder-content .fl-button i.fl-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}

.fl-builder-content .fl-button-has-icon .fl-button-text {
    vertical-align: middle;
}

.fl-icon-wrap {
    display: inline-block;
}

.fl-icon {
    display: table-cell;
    vertical-align: middle;
}

.fl-icon a {
    text-decoration: none;
}

.fl-icon i {
    float: left;
    height: auto;
    width: auto;
}

.fl-icon i:before {
    border: none !important;
    height: auto;
    width: auto;
}

.fl-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}

.fl-icon-text-empty {
    display: none;
}

.fl-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}

.fl-icon-text a {
    text-decoration: none;
}

.fl-icon-text span {
    display: block;
}

.fl-icon-text span.mce-edit-focus {
    min-width: 1px;
}

.fl-photo {
    line-height: 0;
    position: relative;
}

.fl-photo-align-left {
    text-align: left;
}

.fl-photo-align-center {
    text-align: center;
}

.fl-photo-align-right {
    text-align: right;
}

.fl-photo-content {
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
}

.fl-photo-img-svg {
    width: 100%;
}

.fl-photo-content img {
    display: inline;
    height: auto;
    max-width: 100%;
}

.fl-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fl-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}

.fl-photo-caption-hover {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.fl-photo-content:hover .fl-photo-caption-hover {
    opacity: 100;
    filter: alpha(opacity=100);
}

.fl-builder-pagination,
.fl-builder-pagination-load-more {
    padding: 40px 0;
}

.fl-builder-pagination ul.page-numbers {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.fl-builder-pagination li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
    border: 1px solid #e6e6e6;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 5px;
}

.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
    background: #f5f5f5;
    text-decoration: none;
}

.fl-slideshow,
.fl-slideshow * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fl-slideshow .fl-slideshow-image img {
    max-width: none !important;
}

.fl-slideshow-social {
    line-height: 0 !important;
}

.fl-slideshow-social * {
    margin: 0 !important;
}

.fl-builder-content .bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    left: 0;
}

.mfp-wrap button.mfp-arrow,
.mfp-wrap button.mfp-arrow:active,
.mfp-wrap button.mfp-arrow:hover,
.mfp-wrap button.mfp-arrow:focus {
    background: transparent !important;
    border: none !important;
    outline: none;
    position: absolute;
    top: 50%;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:hover,
.mfp-wrap .mfp-close:focus {
    background: transparent !important;
    border: none !important;
    outline: none;
    position: absolute;
    top: 0;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.admin-bar .mfp-wrap .mfp-close,
.admin-bar .mfp-wrap .mfp-close:active,
.admin-bar .mfp-wrap .mfp-close:hover,
.admin-bar .mfp-wrap .mfp-close:focus {
    top: 32px!important;
}

img.mfp-img {
    padding: 0;
}

.mfp-counter {
    display: none;
}

.mfp-wrap .mfp-preloader.fa {
    font-size: 30px;
}

.fl-form-field {
    margin-bottom: 15px;
}

.fl-form-field input.fl-form-error {
    border-color: #DD6420;
}

.fl-form-error-message {
    clear: both;
    color: #DD6420;
    display: none;
    padding-top: 8px;
    font-size: 12px;
    font-weight: lighter;
}

.fl-form-button-disabled {
    opacity: 0.5;
}

.fl-animation {
    opacity: 0;
}

.fl-builder-preview .fl-animation,
.fl-builder-edit .fl-animation,
.fl-animated {
    opacity: 1;
}

.fl-animated {
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.fl-button.fl-button-icon-animation i {
    width: 0 !important;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.fl-button.fl-button-icon-animation:hover i {
    opacity: 1! important;
    -ms-filter: "alpha(opacity=100)";
}

.fl-button.fl-button-icon-animation i.fl-button-icon-after {
    margin-left: 0px !important;
}

.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {
    margin-left: 10px !important;
}

.fl-button.fl-button-icon-animation i.fl-button-icon-before {
    margin-right: 0 !important;
}

.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {
    margin-right: 20px !important;
    margin-left: -10px;
}

.single:not(.woocommerce).single-fl-builder-template .fl-content {
    width: 100%;
}

.fl-builder-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
}

.fl-builder-shape-layer {
    z-index: 0;
}

.fl-builder-shape-layer.fl-builder-bottom-edge-layer {
    z-index: 1;
}

.fl-row-bg-overlay .fl-builder-shape-layer {
    z-index: 1;
}

.fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer {
    z-index: 2;
}

.fl-row-has-layers .fl-row-content {
    z-index: 1;
}

.fl-row-bg-overlay .fl-row-content {
    z-index: 2;
}

.fl-builder-layer>* {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fl-builder-layer+.fl-row-content {
    position: relative;
}

.fl-builder-layer .fl-shape {
    fill: #aaa;
    stroke: none;
    stroke-width: 0;
    width: 100%;
}

.fl-row-content-wrap {
    margin: 0px;
}

.fl-row-content-wrap {
    padding: 20px;
}

.fl-row-fixed-width {
    max-width: 1100px;
}

.fl-col-content {
    margin: 0px;
}

.fl-col-content {
    padding: 0px;
}

.fl-module-content {
    margin: 20px;
}

@media (max-width: 992px) {
    .fl-visible-desktop,
    .fl-visible-mobile,
    .fl-col-group .fl-visible-desktop.fl-col,
    .fl-col-group .fl-visible-mobile.fl-col {
        display: none;
    }
    .fl-visible-desktop-medium,
    .fl-visible-medium,
    .fl-visible-medium-mobile,
    .fl-col-group .fl-visible-desktop-medium.fl-col,
    .fl-col-group .fl-visible-medium.fl-col,
    .fl-col-group .fl-visible-medium-mobile.fl-col {
        display: block;
    }
    .fl-col-group-equal-height .fl-visible-desktop-medium.fl-col,
    .fl-col-group-equal-height .fl-visible-medium.fl-col,
    .fl-col-group-equal-height .fl-visible-medium-mobile.fl-col {
        display: flex;
    }
}

@media (max-width: 767px) {
    .fl-visible-desktop,
    .fl-visible-desktop-medium,
    .fl-visible-medium,
    .fl-col-group .fl-visible-desktop.fl-col,
    .fl-col-group .fl-visible-desktop-medium.fl-col,
    .fl-col-group .fl-visible-medium.fl-col,
    .fl-col-group-equal-height .fl-visible-desktop-medium.fl-col,
    .fl-col-group-equal-height .fl-visible-medium.fl-col {
        display: none;
    }
    .fl-visible-medium-mobile,
    .fl-visible-mobile,
    .fl-col-group .fl-visible-medium-mobile.fl-col,
    .fl-col-group .fl-visible-mobile.fl-col {
        display: block;
    }
    .fl-row-content-wrap {
        background-attachment: scroll !important;
    }
    .fl-row-bg-parallax .fl-row-content-wrap {
        background-attachment: scroll !important;
        background-position: center center !important;
    }
    .fl-col-group.fl-col-group-equal-height {
        display: block;
    }
    .fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .fl-col-group.fl-col-group-responsive-reversed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -ms-box-orient: horizontal;
        -webkit-flex-flow: row wrap;
    }
    .fl-col-group.fl-col-group-responsive-reversed .fl-col {
        -webkit-box-flex: 0 0 100%;
        -moz-box-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 0;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
        -webkit-box-ordinal-group: 10;
        -moz-box-ordinal-group: 10;
        -ms-flex-order: 10;
        -webkit-order: 10;
        order: 10;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
        -webkit-box-ordinal-group: 9;
        -moz-box-ordinal-group: 9;
        -ms-flex-order: 9;
        -webkit-order: 9;
        order: 9;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
        -webkit-box-ordinal-group: 8;
        -moz-box-ordinal-group: 8;
        -ms-flex-order: 8;
        -webkit-order: 8;
        order: 8;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
        -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        -ms-flex-order: 7;
        -webkit-order: 7;
        order: 7;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        -ms-flex-order: 6;
        -webkit-order: 6;
        order: 6;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    .fl-col {
        clear: both;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: auto !important;
    }
    .fl-col-small:not(.fl-col-small-full-width) {
        max-width: 400px;
    }
    .fl-block-col-resize {
        display: none;
    }
    .fl-row[data-node] .fl-row-content-wrap {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .fl-row[data-node] .fl-bg-video,
    .fl-row[data-node] .fl-bg-slideshow {
        left: 0;
        right: 0;
    }
    .fl-col[data-node] .fl-col-content {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"],
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {
    display: none !important;
}

.fl-node-5cfe577df0137 .fl-bg-video-audio {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    width: 20px;
}

.fl-node-5cfe577df0137 .fl-bg-video-audio .fl-audio-control {
    font-size: 20px;
}

.fl-node-5cfe577df0137 .fl-bg-video-audio .fa-times {
    font-size: 10px;
    vertical-align: middle;
    position: absolute;
    top: 5px;
    left: 11px;
    bottom: 0;
}

.fl-node-5cfe577df0137>.fl-row-content-wrap {
    background-color: #ffffff;
    min-height: 100px;
}

.fl-node-5cfe577df0137 .fl-row-content {
    max-width: 1280px;
}

@media(max-width: 992px) {}

@media(max-width: 767px) {}

.fl-node-5cfe577df0137>.fl-row-content-wrap {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fl-node-5cfe577df0137>.fl-row-content-wrap {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.fl-node-5cfe577df16cc {
    width: 35%;
}

@media(max-width: 992px) {
    .fl-builder-content .fl-node-5cfe577df16cc {
        width: 100% !important;
        max-width: none;
        -webkit-box-flex: 0 1 auto;
        -moz-box-flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }
}

@media(max-width: 767px) {}

.fl-node-5cfe57930feeb {
    width: 65%;
}

@media(max-width: 992px) {}

@media(max-width: 767px) {}

.uabb-photo-content.uabb-img-grayscale img {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    filter: gray;
}

.uabb-photo-content .uabb-photo-caption {
    pointer-events: none;
}

.uabb-photo-img {
    max-height: inherit;
}

.fl-node-5cfe579d1f6f6 {
    width: 100%;
}

.fl-node-5cfe579d1f6f6 .uabb-photo-content {}

.fl-node-5cfe579d1f6f6 .uabb-photo-content img {
    width: 175px;
}

.fl-node-5cfe579d1f6f6 .uabb-photo-caption {}

.fl-node-5cfe579d1f6f6 .uabb-photo-content .uabb-photo-img {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.fl-node-5cfe579d1f6f6 .uabb-photo-content .uabb-photo-img {
    opacity: 1;
}

.fl-node-5cfe579d1f6f6 .uabb-photo-content .uabb-photo-img:hover {
    opacity: 1;
}

@media ( max-width: 767px) {
    .fl-node-5cfe579d1f6f6 .uabb-photo-mob-align-center {
        text-align: center;
    }
}

@media(max-width: 992px) {}

@media(max-width: 767px) {}

.fl-node-5cfe579d1f6f6>.fl-module-content {
    margin-top: 0px;
    margin-bottom: 0px;
}

.uabb-creative-menu ul,
.uabb-creative-menu li {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
    content: '';
    display: table;
    clear: both;
}

.uabb-creative-menu .menu {
    position: relative;
    padding-left: 0;
}

.uabb-creative-menu li {
    position: relative;
}

.uabb-creative-menu a {
    display: block;
    line-height: 1;
    text-decoration: none;
}

.uabb-creative-menu .menu a {
    box-shadow: none;
}

.uabb-creative-menu a:hover {
    text-decoration: none;
}

.uabb-creative-menu .sub-menu {
    min-width: 220px;
    margin: 0;
}

.uabb-creative-menu-horizontal {
    font-size: 0;
}

.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal>li {
    font-size: medium;
}

.uabb-creative-menu-horizontal>li>.uabb-has-submenu-container>a>span.menu-item-text {
    display: inline-block;
}

.fl-module[data-node] .uabb-creative-menu .uabb-creative-menu-expanded .sub-menu {
    background-color: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
    outline: 0;
}

.uabb-creative-menu .uabb-has-submenu-container {
    position: relative;
}

.uabb-creative-menu .uabb-creative-menu-accordion .uabb-has-submenu>.sub-menu {
    display: none;
}

.uabb-creative-menu .uabb-menu-toggle {
    cursor: pointer;
}

.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
    border-color: #333;
}

.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
    display: none;
}

.uabb-creative-menu-mobile-toggle {
    position: relative;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #333;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    z-index: 5;
}

.uabb-creative-menu-mobile-toggle.text {
    width: 100%;
    text-align: center;
}

.uabb-creative-menu-mobile-toggle.hamburger .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-creative-menu-mobile-toggle-label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
    display: inline-block;
    position: relative;
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
}

.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
    fill: currentColor;
}

.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
    width: 20px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: block;
    z-index: 99;
}

.uabb-creative-menu .uabb-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

.uabb-creative-menu .uabb-menu-overlay>ul.menu {
    text-align: center;
    position: relative;
    top: 50%;
    width: 40%;
    height: 60%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-fade {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-fade {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.uabb-creative-menu .uabb-overlay-slide-down {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.uabb-creative-menu .uabb-overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.uabb-creative-menu.menu-open .uabb-overlay-scale {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.uabb-creative-menu .uabb-overlay-door {
    visibility: hidden;
    width: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
    transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door {
    visibility: visible;
    width: 100%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.uabb-creative-menu .uabb-overlay-door>ul.menu {
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.uabb-creative-menu .uabb-overlay-door>ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}

.uabb-creative-menu.menu-open .uabb-overlay-door>ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.uabb-creative-menu.menu-close .uabb-overlay-door>ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-toggle-arrows .uabb-has-submenu-container a>span {
    padding-right: 0 !important;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
    position: absolute;
    display: block;
    width: 55px;
    height: 45px;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 100;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 40px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.uabb-creative-menu .uabb-off-canvas-menu .menu {
    margin-top: 40px;
}

.uabb-creative-menu.off-canvas .uabb-clear {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background: rgba(0, 0, 0, 0.0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(320px, 0px, 0px);
}

.uabb-creative-menu .uabb-off-canvas-menu {
    z-index: 99999;
    width: 300px;
    height: 100%;
    background: rgb(55, 58, 71);
    padding: 60px 20px;
    -webkit-transition: all 0.8s;
    transition: transform 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    perspective: 1000;
    backface-visibility: hidden;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.uabb-creative-menu .menu>li>a,
.uabb-creative-menu .menu>li>.uabb-has-submenu-container a {
    outline: 0;
}

.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s ease;
}

.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
    visibility: visible;
    opacity: 1;
}

@media ( max-width: 992px) {
    .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
        right: 20px;
        top: 20px;
    }
}

.bbplugin-menu-wrap .uabb-creative-menu .menu {
    text-align: right;
}

.uabb-creative-menu-expanded ul.sub-menu li a,
.uabb-creative-menu-accordion ul.sub-menu li a,
.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
    text-indent: 20px;
    direction: rtl;
}

.uabb-creative-menu-expanded ul.sub-menu li li a,
.uabb-creative-menu-accordion ul.sub-menu li li a,
.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
    text-indent: 30px;
    direction: rtl;
}

.uabb-creative-menu-expanded ul.sub-menu li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {
    text-indent: 40px;
    direction: rtl;
}

.uabb-creative-menu-expanded ul.sub-menu li li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {
    text-indent: 50px;
    direction: rtl;
}

.bbplugin-menu-wrap .uabb-creative-menu .menu.uabb-creative-menu-horizontal>li>a span.uabb-menu-toggle,
.bbplugin-menu-wrap .uabb-creative-menu .menu.uabb-creative-menu-horizontal>li>.uabb-has-submenu-container a span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.bbplugin-menu-wrap .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.bbplugin-menu-wrap .uabb-creative-menu .menu>li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.bbplugin-menu-wrap .uabb-creative-menu .uabb-menu-toggle:before {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    z-index: 1;
    font-size: inherit;
    line-height: 0;
    font-weight: 900;
}

.bbplugin-menu-wrap .menu .uabb-has-submenu .sub-menu {
    display: none;
}

.bbplugin-menu-wrap .uabb-creative-menu li:first-child {
    border-top: none;
}

@media only screen and ( max-width: 767px) {
    .bbplugin-menu-wrap .uabb-creative-menu .menu {
        margin-top: 20px;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-off-canvas-menu .uabb-menu-close-btn,
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
        display: block;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu {
        text-align: center;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and ( min-width: 768px) {
    .bbplugin-menu-wrap .menu>li {
        display: inline-block;
    }
    .bbplugin-menu-wrap .menu li {
        border-left: none;
        border-top: none;
    }
    .bbplugin-menu-wrap .menu li li {
        border-top: none;
        border-left: none;
    }
    .bbplugin-menu-wrap .menu .uabb-has-submenu .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 16;
        visibility: hidden;
        opacity: 0;
        text-align: left;
        transition: all 300ms ease-in;
    }
    .bbplugin-menu-wrap .uabb-has-submenu .uabb-has-submenu .sub-menu {
        top: 0;
        left: 100%;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-has-submenu:hover>.sub-menu,
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-has-submenu:focus>.sub-menu {
        display: block;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-has-submenu:hover>.sub-menu,
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-has-submenu:focus>.sub-menu {
        visibility: visible;
        opacity: 1;
    }
    .bbplugin-menu-wrap .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        top: 100%;
        left: inherit;
        right: 0;
    }
    .bbplugin-menu-wrap .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        top: 0;
        left: inherit;
        right: 100%;
    }
    .bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle {
        display: none;
    }
}

.bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu>li>a,
.bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.bbplugin-menu-wrap .uabb-creative-menu .menu>li>a,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {}

.bbplugin-menu-wrap .uabb-creative-menu .menu>li>a,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {}

.bbplugin-menu-wrap .fl-module-content .uabb-creative-menu .menu>li>a span.menu-item-text,
.bbplugin-menu-wrap .fl-module-content .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a span.menu-item-text {
    width: 100%;
    color: #323232;
}

.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
    color: #323232;
}

.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-none li:hover .uabb-menu-toggle:before {
    color: #4067aa;
}

.bbplugin-menu-wrap .uabb-creative-menu .menu>li>a:hover,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li>a:focus,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li:hover>.uabb-has-submenu-container>a,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li:focus>.uabb-has-submenu-container>a,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.current-menu-item>a,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.current-menu-item>a,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.current-menu-item>.uabb-has-submenu-container>a {}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-item>a,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a {
    background-color: #f5f5f5;
}

.bbplugin-menu-wrap .uabb-creative-menu .menu>li>a:hover span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li>a:focus span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li:hover>.uabb-has-submenu-container>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li:focus>.uabb-has-submenu-container>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.current-menu-item>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.focus>.uabb-has-submenu-container>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.focus>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text>i {
    color: #4067aa;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-item>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-item>a span.menu-item-text>i,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-item>.uabb-has-submenu-container>a span.menu-item-text>i,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-ancestor>a span.menu-item-text>i,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.current-menu-ancestor>.uabb-has-submenu-container>a span.menu-item-text>i {}

.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container:hover>.uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container.focus>.uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-arrows li.current-menu-item>.uabb-has-submenu-container>.uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container:hover>.uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container.focus>.uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-none li.current-menu-item>.uabb-has-submenu-container>.uabb-menu-toggle:before {
    color: #4067aa;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>a,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

.bbplugin-menu-wrap .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
    min-width: 300px;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.uabb-creative-menu>a>span,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a>span {
    color: #333333;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e3e2e3;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li:last-child {
    border-bottom: none;
}

.bbplugin-menu-wrap .uabb-creative-menu ul.sub-menu>li.uabb-creative-menu.uabb-has-submenu li:first-child,
.bbplugin-menu-wrap .uabb-creative-menu ul.sub-menu>li.uabb-creative-menu.uabb-has-submenu li li:first-child {
    border-top: none;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li.uabb-active>.sub-menu>li:first-child,
.bbplugin-menu-wrap .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu>li>.sub-menu>li:first-child {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e3e2e3;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu {
    -webkit-box-shadow: 10px 10px 155px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 155px 10px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 10px 10px 155px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 155px 10px rgba(0, 0, 0, 0.4);
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li:last-child>a,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li:last-child>.uabb-has-submenu-container>a {
    border: 0;
}

.bbplugin-menu-wrap .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>a:hover span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>a:focus span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>.uabb-has-submenu-container>a:hover span.menu-item-text,
.bbplugin-menu-wrap .uabb-creative-menu ul.sub-menu>li.menu-item.uabb-creative-menu>.uabb-has-submenu-container>a:focus span.menu-item-text {
    color: #;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>a:hover,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>a:focus,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a:hover,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a:focus {
    background-color: #f5f5f5;
}

.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
    color: #333333;
}

.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle {}

.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container,
.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
    text-align: center;
}

.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle rect {
    fill: #323232;
}

@media only screen and ( max-width: 767px) {
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-menu-overlay .menu {
        margin-top: 40px;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu {
        text-align: center;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and (max-width: 992px) {
    .bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container,
    .bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
        text-align: ;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li {}
    .bbplugin-menu-wrap .uabb-creative-menu.off-canvas .menu>li>a,
    .bbplugin-menu-wrap .uabb-creative-menu.off-canvas .menu>li>.uabb-has-submenu-container>a {}
    .bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu>li>a,
    .bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {}
    .bbplugin-menu-wrap .uabb-creative-menu.full-screen .menu>li>a,
    .bbplugin-menu-wrap .uabb-creative-menu.full-screen .menu>li>.uabb-has-submenu-container>a {}
    .bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>a,
    .bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {}
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-off-canvas-menu {}
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and (max-width: 767px) {
    .bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container,
    .bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container>.uabb-creative-menu-mobile-toggle.text {
        text-align: ;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li {}
    .bbplugin-menu-wrap .uabb-creative-menu.off-canvas .menu>li>a,
    .bbplugin-menu-wrap .uabb-creative-menu.off-canvas .menu>li>.uabb-has-submenu-container>a {}
    .bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu>li>a,
    .bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {}
    .bbplugin-menu-wrap .uabb-creative-menu.full-screen .menu>li>a,
    .bbplugin-menu-wrap .uabb-creative-menu.full-screen .menu>li>.uabb-has-submenu-container>a {}
    .bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>a,
    .bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {}
    .bbplugin-menu-wrap .uabb-creative-menu .uabb-off-canvas-menu {}
    .bbplugin-menu-wrap .uabb-creative-menu .menu {
        text-align: center;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li>a span.uabb-menu-toggle,
    .bbplugin-menu-wrap .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle {
        float: right;
    }
    .bbplugin-menu-wrap .uabb-creative-menu .menu .uabb-menu-toggle {
        float: right;
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 767px) {}

.bbplugin-menu-wrap .uabb-creative-menu .menu>li>a,
.bbplugin-menu-wrap .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>a,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
}

.bbplugin-menu-wrap .uabb-creative-menu .uabb-creative-menu-vertical .sub-menu,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-creative-menu-horizontal .sub-menu {
    border-style: none;
    border-width: 0;
    background-clip: padding-box;
    border-color: #000000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bbplugin-menu-wrap .uabb-creative-menu .uabb-creative-menu-expanded.menu>.uabb-has-submenu>.sub-menu,
.bbplugin-menu-wrap .uabb-creative-menu .uabb-creative-menu-accordion.menu>.uabb-has-submenu>.sub-menu {
    border-style: none;
    border-width: 0;
    background-clip: padding-box;
    border-color: #000000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media(max-width: 992px) {}

@media(max-width: 767px) {}

.bbplugin-menu-wrap>.fl-module-content {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.fl-node-5cfe577df0137 .uabb-top-row-separator.uabb-has-svg svg {
    width: calc( 100% + 1.5px);
}

.fl-node-5cfe577df0137 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: calc( 100% + 1.5px);
}

.fl-node-5cfe577df0137 #uabb-top-slit2,
.fl-node-5cfe577df0137 #uabb-top-slit3 {
    fill: #afafaf;
}

.fl-node-5cfe577df0137 #uabb-bottom-slit2,
.fl-node-5cfe577df0137 #uabb-bottom-slit3 {
    fill: #afafaf;
}

.fl-node-5cfe577df0137 #uabb-top-pine-tree-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5cfe577df0137 #uabb-bottom-pine-tree-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5cfe577df0137 #uabb-top-pine-tree-bend-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5cfe577df0137 #uabb-bottom-pine-tree-bend-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5cfe577df0137 #uabb-top-slime-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5cfe577df0137 #uabb-bottom-slime-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5cfe577df0137 #uabb-top-wave-slide-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5cfe577df0137 #uabb-bottom-wave-slide-separator2 {
    fill: #ffffff;
    stroke: #ffffff;
}

.fl-node-5cfe577df0137 .uabb-top-row-separator {
    z-index: 9;
}

.fl-node-5cfe577df0137 .uabb-bottom-row-separator {
    z-index: 9;
}

@media(max-width: 992px) {
    .fl-node-5cfe577df0137 .uabb-top-row-separator.uabb-has-svg svg {
        width: 100%;
    }
    .fl-node-5cfe577df0137 .uabb-bottom-row-separator.uabb-has-svg svg {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .fl-node-5cfe577df0137 .uabb-top-row-separator.uabb-has-svg svg {
        width: 100%;
    }
    .fl-node-5cfe577df0137 .uabb-bottom-row-separator.uabb-has-svg svg {
        width: 100%;
    }
}

.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}

.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
    -moz-transform: scale(1) scaleY(-1) translateX(-50%);
    -ms-transform: scale(1) scaleY(-1) translateX(-50%);
    -o-transform: scale(1) scaleY(-1) translateX(-50%);
    transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
}

.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
    -moz-transform: translateX(-50%) scale(-1);
    -ms-transform: translateX(-50%) scale(-1);
    -o-transform: translateX(-50%) scale(-1);
    transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) scaleX(-1);
    -o-transform: translateX(-50%) scaleX(-1);
    transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
    -moz-transform: translateX(-50%) scaleY(-1);
    -ms-transform: translateX(-50%) scaleY(-1);
    -o-transform: translateX(-50%) scaleY(-1);
    transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
}

.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {}

.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.fl-builder-content .uabb-button-left {
    text-align: left;
}

.fl-builder-content .uabb-button-center {
    text-align: center;
}

.fl-builder-content .uabb-button-right {
    text-align: right;
}

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}

.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}

.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}

.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

.uabb-icon-wrap {
    display: inline-block;
}

.uabb-icon a {
    text-decoration: none;
}

.uabb-icon i {
    display: block;
}

.uabb-icon i:before {
    border: none !important;
    background: none !important;
}

.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}

.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}

.uabb-icon-text a {
    text-decoration: none;
}

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}

.uabb-photo-align-left {
    text-align: left;
}

.uabb-photo-align-center {
    text-align: center;
}

.uabb-photo-align-right {
    text-align: right;
}

.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}

.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}

.uabb-photo-caption-hover {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition: visibility 200ms linear;
    -moz-transition: visibility 200ms linear;
    transition: visibility 200ms linear;
}

.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
}

.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, .6);
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, .6);
    color: white;
}

.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

.uabb-imgicon-wrap .uabb-icon {
    display: block;
}

.uabb-imgicon-wrap .uabb-icon i {
    float: none;
}

.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}

.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}

.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}

.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}

.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}

.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}

.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}

.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}

.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}

.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}

.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}

.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

.uabb-transparent-fill-top-btn:after {
    top: 0;
}

.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

.uabb-transparent-fill-left-btn:after {
    left: 0;
}

.uabb-transparent-fill-right-btn:after {
    right: 0;
}

.uabb-transparent-fill-center-btn:after {
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

.uabb-transparent-fill-diagonal-btn {
    overflow: hidden;
}

.uabb-transparent-fill-diagonal-btn:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg);
    transform: translateX(-50%) translateY(-50%) rotate( 45deg);
}

.uabb-transparent-fill-horizontal-btn:after {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.perspective {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    margin: 0;
}

.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotateY(-60deg);
    -moz-transform: rotateY(-60deg);
    -ms-transform: rotateY(-60deg);
    transform: rotateY(-60deg);
}

.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateY(120deg);
    -moz-transform: rotateY(120deg);
    -ms-transform: rotateY(120deg);
    transform: rotateY(120deg);
}

.uabb-animate_top-btn:hover {
    -webkit-transform: rotateX(-15deg);
    -moz-transform: rotateX(-15deg);
    -ms-transform: rotateX(-15deg);
    -o-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
}

.uabb-animate_bottom-btn:hover {
    -webkit-transform: rotateX(15deg);
    -moz-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    -o-transform: rotateX(15deg);
    transform: rotateX(15deg);
}

.uabb-animate_left-btn:hover {
    -webkit-transform: rotateY(6deg);
    -moz-transform: rotateY(6deg);
    -ms-transform: rotateY(6deg);
    -o-transform: rotateY(6deg);
    transform: rotateY(6deg);
}

.uabb-animate_right-btn:hover {
    -webkit-transform: rotateY(-6deg);
    -moz-transform: rotateY(-6deg);
    -ms-transform: rotateY(-6deg);
    -o-transform: rotateY(-6deg);
    transform: rotateY(-6deg);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
}

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
    -moz-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    -o-transform: translateY(-400px);
    transform: translateY(-400px);
}

.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}

.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}

.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}

.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}

.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}

.fl-row-content-wrap .uabb-row-particles-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.uabb-col-particles-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {}

.uabb-js-breakpoint {
    content: "default";
    display: none;
}

@media screen and (max-width: 992px) {
    .uabb-js-breakpoint {
        content: "992";
    }
}

@media screen and (max-width: 767px) {
    .uabb-js-breakpoint {
        content: "767";
    }
}

body {
    position: relative;
}

.fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container.fl-content-full>.row>.fl-content {
    margin: 0;
    padding: 0;
}

.fl-content-slider .fl-slide.fl-slide-3 .fl-slide-foreground {
    display: block !important;
}

#masthead .uabb-creative-menu .sub-menu .uabb-menu-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    margin-top: 5px;
}

.fl-builder-content .fl-button i.fl-button-icon-after {
    margin: 0;
    font-size: 17px;
}

.field_16_7 a:hover,
.field_16_7 a:focus {
    color: #9e0027 !important;
}

.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content:empty {
    display: none;
}

.makemefull .fl-module-content .uabb-photo-content,
.makemefull .fl-module-content .uabb-photo-content img {
    width: 100%;
}

#responsive-menu-wrapper #responsive-menu-additional-content .fa {
    transform: rotate(90deg);
    margin-right: 5px;
}

#responsive-menu-wrapper #responsive-menu-additional-content .phone {
    color: #fff;
}

.main-header .fl-col-group:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchModule {
    display: none;
    position: absolute;
    right: 13%;
    left: 37%;
    z-index: 9;
    background: #475668;
}

.fl-module-blog-posts .uabb-blog-posts .uabb-post-thumbnail img {
    width: 67% !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px !important;
}

.searchIcon .fl-icon {
    cursor: pointer;
}

.searchIcon .fl-icon .ua-icon-search {
    font-size: 18px;
}

.fl-content-slider .fl-slide-bg-photo:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}

.fl-module-content-slider .fl-content-slider .bx-wrapper {
    margin-bottom: 0;
}

.fl-module-content-slider .fl-content-slider .bx-wrapper .bx-pager {
    bottom: 20px;
}

.fl-content-slider .fl-slide .fl-slide-foreground {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1100px;
    width: 100%;
}

.fl-content-slider .fl-slide .fl-slide-text {
    font-size: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(255, 255, 255, 0.65);
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #fff;
}

.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}

@media (max-width:1080px) {
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-left {
        width: 30%;
    }
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right {
        width: 70%;
    }
}

@media (max-width:992px) {
    #masthead .fl-module-uabb-photo .uabb-module-content {
        text-align: center;
    }
    .active-gallery-modal .product-box {
        text-align: left;
    }
    .fl-col-group.fl-col-group-responsive-reversed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -ms-box-orient: horizontal;
        -webkit-flex-flow: row wrap;
    }
    .fl-col-group.fl-col-group-responsive-reversed .fl-col {
        -webkit-box-flex: 0 0 100%;
        -moz-box-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
        -webkit-box-ordinal-group: 10;
        -moz-box-ordinal-group: 10;
        -ms-flex-order: 10;
        -webkit-order: 10;
        order: 10;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
        -webkit-box-ordinal-group: 9;
        -moz-box-ordinal-group: 9;
        -ms-flex-order: 9;
        -webkit-order: 9;
        order: 9;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
        -webkit-box-ordinal-group: 8;
        -moz-box-ordinal-group: 8;
        -ms-flex-order: 8;
        -webkit-order: 8;
        order: 8;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
        -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        -ms-flex-order: 7;
        -webkit-order: 7;
        order: 7;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        -ms-flex-order: 6;
        -webkit-order: 6;
        order: 6;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
}

@media (max-width:768px) {
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-left {
        width: 100%;
        text-align: center;
    }
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right {
        display: none;
    }
    .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: auto !important;
    }
    .flooring-product-below-text .fl-row-content-wrap .fl-col-group>.fl-col {
        width: 100% !important;
    }
}

@media (max-width:767px) {
    .fl-col-small {
        max-width: 100%;
    }
    .product-category-row .uabb-new-ib {
        max-height: 250px;
    }
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
}

@media (max-width: 699px) {
    .active-gallery-modal .product-box .fl-button {
        margin: 0 auto;
    }
    .responsive-table thead {
        display: none;
    }
    .responsive-table tr {
        margin-bottom: 15px;
        display: block;
        width: 100%;
    }
    .responsive-table tr:last-child {
        margin-bottom: 0;
    }
    .responsive-table td {
        display: block;
        width: 100%;
    }
    .responsive-table td:first-child {
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

@media (max-width: 420px) {
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
        height: auto;
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .additional-resources .fl-module-content.fl-node-content {
        margin: 0 0 25px 0;
    }
    .additional-resources .fl-module-content.fl-node-content .fl-button-wrap a {
        padding: 0;
    }
}

.footer-add a.fl-icon-text-link.fl-icon-text-wrap {
    display: none !important;
}